<footer class="navbar-static-bottom">
    <div class="container text-center">
        <span class="text-muted" id="txtFooterCopyRight">©2017. Developed by Mingxiao Guo. All Rights Reserved.</span>
    </div>
</footer>

<!--  Checkbox, Radio & Switch Plugins -->
<!-- <script src="/javascripts/bootstrap-checkbox-radio.js"></script> -->

<!--  Charts Plugin -->
<!-- <script src="/javascripts/chartist.min.js"></script> -->

<!--  Notifications Plugin    -->
<script src="/javascripts/bootstrap-notify.js"></script>
