<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid col-lg-8 col-lg-offset-2">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand myBrand" href="/">Hello Bike</a>
      <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"></button> -->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse"  id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li class="dropdown">
          <a href="/bikes" class="dropdown-toggle" data-toggle="dropdown"> Bikes <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/bike">All bikes</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if (typeof user === 'undefined') { %>
          <li><a href = "/register"  style="margin-right: 10px">Register</a></li>
          <li><a href = "/login" id="btnSignIn">Sign in</a></li>
        <% } else { %>
          <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" />
            <!--<span class="glyphicon glyphicon-user"></span>-->
            <span class="fa fa-user-circle userIconClass"></span>
            &nbsp;
            <!--change input attribute according to profile type -->
            <span class="userIconClass">
              <%= user.name %>
            </span>

            <b class="caret"></b>
            <ul class="dropdown-menu">
              <li>
                <div class="navbar-login">
                  <div class="row">
                    <!--profile picture-->
                    <div class="col-lg-4">
                      <p class="text-center">
                        <img class="profile-image img-circle navbarUserProfilePic" src="<%= user.profilePhoto %>" >
                      </p>
                    </div>
                    <!--profile summary-->
                    <%if (user.type != "admin") {%>
                      <div class="col-lg-8">
                        <div class="usernameLink">
                          <a  href="/userProfile">
                            <%= user.name %>
                          </a>
                        </div>

                        <p class="text-left">
                          <a href="/userProfile/edit" class="btn btn-info btn-block btn-sm">Edit Profile</a>
                          <a href="/cart" class="btn btn-info btn-block btn-sm">Your Cart</a>
                        </p>
                      </div>
                    <% } else { %> <!-- admin dropdown menu -->
                    <div class="col-lg-8">
                      <p class="text-left"><strong><%= user.email %></strong></p>

                      <p class="text-left">
                        <a href="/admin/user" class="btn btn-info btn-block btn-sm">User</a>
                        <a href="/admin/product" class="btn btn-info btn-block btn-sm">Product</a>
                        <a href="/admin/server" class="btn btn-info btn-block btn-sm">Server</a>
                      </p>
                    </div>
                    <% } %>
                  </div>
                </div>
              </li>
              <li class="divider"></li>
              <li><a href="/logout"><i class="fa fa-sign-out"></i> Sign out</a></li>
            </ul>
          </li>
        <% } %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
