<!DOCTYPE html>
<html>
<head>
  <%include ../partials/head %>
</head>
<body>
  <title>Admin</title>
  <%include ../partials/nav %>
  <div class="col-md-6 col-md-offset-3>
    <a href="/admin/server"><button class="btn btn-primary" id="btnServer">Server</button></a>
    <a href="/admin/product"><button class="btn btn-primary" id="btnProduct">Product</button></a>
    <a href="/admin/user"><button class="btn btn-success" id="btnUser">User</button></a>
  </div>
  <%include ../partials/footer%>
</body>
</html>
