<!DOCTYPE html>
<html>
  <head>
    <%include ../partials/head %>
  </head>
  <body>
    <%include ../partials/nav %>
    <div class="card">
      This is index

    </div>
    <%include ../partials/footer%>
  </body>
</html>
