<!DOCTYPE html>
<html>
  <head>
    <%include ../partials/head %>
  </head>
  <body>
    <%include ../partials/nav %>
    <div class="center-block jumbotron" id="indexJumbotron">
        <p style="color: #eeeeee; text-align: center; font-size: 80px">Change your bike life</p>
        <p class="text-center">
          <a href="/bike"><button class="btn btn-primary" id="btnIndexExplore">Explore Our Bikes</button></a>
        </p>
    </div>
    <%include ../partials/footer%>
  </body>
</html>
